


<div class="container">
    <a class="btn btn-secondary" href="/" role="button">Back</a>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Label</th>
      <td>{{maintext.label}}</td>
    </tr>
    <tr>
      <th scope="row">Brand</th>
      <td>{{maintext.brand}}</td>
    </tr>
    <tr>
      <th scope="row">Category</th>
      <td>{{maintext.category}}</td>
    </tr>
    <tr>
      <th scope="row">CategoryLabel</th>
      <td>{{maintext.categoryLabel}}</td>
    </tr>
    <tr>
      <th scope="row">FoodContentsLabel</th>
      <td>{{maintext.foodContentsLabel}}</td>
    </tr>

  </tbody>
</table>
</div>